/* Everything gets a box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color */
body {
    background-color: #d9dcd6;
}

/* Formats the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Formats the h1 in header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Makes the "seo" in Horiseon a slightly different color */
header h1 .seo {
    color: #d9dcd6;
}

/* Formats the navigation bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Formats the unordered list */
header nav ul {
    list-style-type: none;
}

/* Formats the items in the list */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Formats the links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Establishes consistent font size in paragraphs */
p {
    font-size: 16px;
}

/* Provides an image and a size for the "Hero" section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Ensures images float correctly left or right */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Formats the three main sections */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Formats the three sections in the "Main" tag */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Formats the three images in the "Main" tag */
main img {
    max-height: 200px;
}

/* Formats the three h2's in the "Main" tag */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Formats the "Benefits" aside */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Formats all three sections of the "Benefits" aside */
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Formats all three h3's of the "Benefits" aside */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Formats all three images of the "Benefits" aside */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Formats the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Formats the h2 in the footer */
footer h2 {
    font-size: 20px;
}
